@model MentalSelf.Models.ViewModels.TestQuestionViewModel

@{
    ViewData["Title"] = "Level 1 General Symptom Measure Adult";
    ViewData["Message"] = "In the past two weeks, have you experienced any of the following problems?";
}


<h2>@ViewData["Title"]</h2>
<br />
<h4>@ViewData["Message"]</h4>

<table class="table">
    <tbody>
        <tr>
            <td class="col-md-10">
                @foreach (var item in Model.Question)
                {
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.QuestionDesc)
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(r => r.Response, 0) Not at all
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(r => r.Response, 1) Rare, less than a couple days
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(r => r.Response, 2) Several Days
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(r => r.Response, 3) More than half the days
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(r => r.Response, 4) Nearly everyday
                    </div>
                    <br />
                    <br />
                    }
</td>
        </tr>
    </tbody>
</table>


<div>
    <a asp-action="Create">Save your results</a>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
