@model MentalSelf.Models.ViewModels.TestQuestionViewModel

@{
    ViewData["Title"] = "Level 1 General Symptom Measure Adult";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <h2>@ViewData["Title"]</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var item in Model.Question)
                {
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.QuestionID) @Html.DisplayFor(modelItem => item.QuestionDesc)
                    </div>
                    <div class="row">
                         @Html.RadioButton("None", 0) 0 | @Html.RadioButton("Slight", 1) 1 | @Html.RadioButton("Mild", 2) 2 | @Html.RadioButton("Moderate", 3) 3 | @Html.RadioButton("Severe", 4) 4
                    </div>
                }
            </td>
        </tr>
    </tbody>
</table>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
