@model MentalSelf.Models.ViewModels.TestDetailsViewModel

@*Informational header*@
<table class="table">
    <thead>
        <tr>
            <td>
                <div>
                    <h3 class="text-center">
                        Each question is rated on a 0-4 scale.
                    </h3>
                </div>
                <div>
                    <h4>
                        <br />0 = Not at all
                        <br />1 = Rare, less than a couple days
                        <br />2 = Several days
                        <br />3 = More than half the days
                        <br />4 = Nearly every day
                    </h4>
                </div>
                <br/>
                <div>
                    <h4>
                        The graph below represents the average of the ratings for each question. Those average ratings are grouped by the categories for each question.
                         If you selected "Several Days" on any question or you selected "Rare, less than a couple days" on any question for the categories of substance use, suicidal ideation, and psychosis, then you may want to seek professional help.
                        Similarly for the chart, if you scored an average of 2 for any category or an average of 1 on substance use, suicidal ideation, or psychosis, professional help might benefit you.
                    </h4>
                </div>
            </td>
        </tr>
    </thead>
</table>

@*Chart*@
<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "dark2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
		text: "@Model.UserTest.Test.Title"
	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <br/>
    <br/>
    <br/>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <br/>
    <br/>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>

<table class="table">
    <tbody>
        <tr>
            <td>
                @*Loop over all question types in QuestionTypes property*@
                @foreach (QuestionType qt in Model.QuestionTypes)
                {
                    <div class="row">
                        @*Display name of question type*@
                        <h2>@qt.Type</h2>
                    </div>
                    //Loop over all responses in Responses property
                    foreach (var r in Model.Responses)
                    {
                        // If responses question type id matches the displayed question type id
                        // display the questions pertaining to that question type with the user response rating
                        if (r.Question.QuestionTypeId == qt.QuestionTypeId)
                        {
                        <div class="row">
                            <h4>@r.Question.QuestionDesc</h4> <h4 style="text-decoration: underline">@r.UserResponse.Rating</h4>
                        </div>
                        }
                }

                }
            </td>
        </tr>
    </tbody>
</table>

<div style="text-align: center">
    <a asp-action="Index">Back to List</a>
</div>
