@model MentalSelf.Models.ViewModels.TestDetailsViewModel


<table class="table">
    <tbody>
        <tr>
            <td>
                <div>
                    <h4>
                        If you selected "Several Days" on any question or you selected "Rare, less than a couple days" on any question for the categories of substance use, suicidal ideation, or psychosis, then you may want to seek professional help.
                        <br />
                        <br />
                        Beneath your answers is a chart that averages each answer for each disorder. The chart is a general representation of your inclination for a disorder. Your specific answers are more important than the average of them.

                    </h4>
                </div>
                <br/>
                <br/>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        @for (var i = 0; i < Model.QuestionTypes.Count; i++)
                        {
                            <li data-target="#myCarousel" data-slide-to="@Model.QuestionTypes[i]"></li>
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="carousel-caption" role="option">
                                <h3>Your individual responses can be found here. Questions and answers are grouped by the disorder with which they are associated.</h3>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                        @*Loop over all question types in QuestionTypes property*@
                        @foreach (QuestionType qt in Model.QuestionTypes)
                        {
                            <div class="item">
                                <div class="carousel-caption" role="option">
                                    <div class="row">
                                        @*Display name of question type*@
                                        <h2>@qt.Type</h2>

                                    </div>
                                    @*Loop over all responses in Responses property*@
                                    @foreach (var r in Model.Responses.OrderBy(r => r.QuestionId))
                                    {
                                        // If responses question type id matches the displayed question type                id
                                        // display the questions pertaining to that question type with the                  user response rating
                                        if (r.Question.QuestionTypeId == qt.QuestionTypeId)
                                        {
                                            <div class="row">
                                                <h4>
                                                    @r.Question.QuestionDesc
                                                </h4>
                                                <h4>
                                                    @r.Rating.RatingDescription
                                                </h4>
                                                @if (r.Rating.RatingAmount >= qt.Threshold)
                                                {
                                                    <h4>*This answer indicates you may want to seek help*</h4>
                                                }
                                            </div>
                                        }
                                    }
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            </div>
                        }
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br />
                <br />
                <div>
                    <h3 class="text-center">
                        Each question is rated on a 0-4 scale.
                    </h3>
                </div>
                <div>
                    <h4>
                        <br />0 = Not at all
                        <br />1 = Rare, less than a couple days
                        <br />2 = Several days
                        <br />3 = More than half the days
                        <br />4 = Nearly every day
                    </h4>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@*Chart*@
<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "dark2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
		text: "@Model.UserTest.Test.Title"
	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <br/>
    <br/>
    <br/>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <br/>
    <br/>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>


<div style="text-align: center">
    <a class="btn btn-info" role="button" asp-action="Index" asp-route-id="@Model.UserTest.TestId">Back to List</a>
</div>
