@model MentalSelf.Models.ViewModels.TestDetailsViewModel

<h2>@Html.DisplayFor(model => model.UserTest.Test.Title) </h2>

@*<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
		text: "Medals Won by Few Countries - 2016 Summer Olympics"
	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>*@

<table class="table">
    <tbody>
        <tr>
            <td>
                @for (var i = 0; i < Model.QuestionTypes.Count(); i++)
                {
                    <div class="row">
                        <h2>@Model.QuestionTypes[i].Type</h2>
                    </div>
                    foreach (var item in Model.Responses.Where(r => r.Question.QuestionTypeId == Model.QuestionTypes[i].QuestionTypeId))
                    {
                    <div class="row">
                        @item.Question.QuestionDesc | @item.UserResponse.Rating
                    </div>
                    }

                }
            </td>
        </tr>
    </tbody>
</table>

<div style="text-align: center">
    <input type="submit" asp-action="Index" value="Previous Tests" class="btn-default" />
</div>
