@model MentalSelf.Models.ViewModels.IndexChartViewModel


<table class="table">
    <thead>
        <tr>
            <td>
                <div>
                    <h3 class="text-center">
                        Each question is rated on a 0-4 scale.
                    </h3>
                </div>
                <div>
                    <h4>
                        <br />0 = Not at all
                        <br />1 = Rare, less than a couple days
                        <br />2 = Several days
                        <br />3 = More than half the days
                        <br />4 = Nearly every day
                    </h4>
                </div>
                <br/>
                <div>
                    <h4>
                        The graph below represents the average of the ratings for every time you've taken this test. Those average ratings are grouped by the categories for each question. This graph does not necessarily indicate you need to seek professional help. It is merely a point of reflection to provide greater self-awareness.
                    </h4>
                </div>
            </td>
        </tr>
    </thead>
</table>

<!DOCTYPE HTML>
    <html>
    <head>
        <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "dark2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Average of Previous Test Results",
		fontSize: 21
	},
	data: [{
		type: "pie",
		startAngle: 160,
		toolTipContent: "<b>{label}</b>: {y}",
		indexLabel: "{label} - {y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
        </script>
    </head>
    <body>
        <br/>
        <br/>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <br/>
        <br/>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    </body>
</html>


<table class="table">
    <tbody>
        
        @foreach (var item in Model.UserTest)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Test.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserTestId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserTestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
